/* Stile Generico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* Utilities */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


.float {
  float: left;
  padding: 0 16px;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.relative {
  position: relative;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-50 {
  width: 50%;
}
/* Header */
.main-header {
  background: lightgrey;
}

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}


.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.img-logo {
  margin-top: 5px;
}

.menu-nav li:nth-last-child(2)  a{
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}


/* Jumbotron */
#jumbotron {
  height: 550px;
  margin-bottom: 30px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
#jumbotron h1 {
  font-weight: 600;
  font-size: 48px;
}
#jumbotron h3 {
  font-weight: 400;
  padding: 25px 0 15px;
  font-size: 16px;
}

/* Sezione Prodotti */



#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box img{
  max-width: 100%;
  width: 230px;
  display: block;
  margin: 0 auto;
}
